html {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $grey;
}

header {
    background: $black;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
    font-weight: 400;
}

// breakpoints adjustment //

// custom classes //

.bg-gray {
    background: #f2f2f2;
}

.bg-green {
    background: $green;
}

.rounded {
    border-radius: 6px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}

.font-36 {
    font-size: 36px !important;
}

.text-black {
    color: $black;
}

text-graish {
    color: #0a100d;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

@include media-breakpoint-down(md) {
    body {
        text-align: center;
    }

    .ghost {
        display: none;
    }
}
