@import './sanitize.scss';
@import './variables/variables';
@import './_mixins.scss';
@import './main.scss';

@import './header/header';
@import './navigation/navigation';
@import './subfooter/subfooter';
@import './footer/footer';

//Features
@import './features/hero';
@import './features/customCard';
@import './features/invest';
@import './features/collectiveInvesting';
@import './features/thoughts';
@import './features/easyBegin';

// FONTS
@import './typography/font-family';
@import './typography/headings';
@import './typography/links';
