.collective-investing {
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
    }

    &__heading {
        font-size: 32px;
    }
}
