.easy {
    padding-top: 4rem;
    padding-bottom: 4rem;

    &__text {
        padding-right: 4rem;
    }

    @include media-breakpoint-down(lg) {
        &__text {
            padding-right: 0;
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
