.hero {
    &__heading {
        display: inline-block;
        color: $green;
        font-size: 46px;
        font-weight: 200;
        margin: 80px auto;
        text-shadow: 2px 2px 3px #000;
    }
}
