.thoughts {
    position: relative;

    &__card {
        min-height: 88px;
        padding: 20px;
    }

    &__icon {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        display: block;
        background: $white;
    }
}
