.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;

    &__btn {
        background: transparent;
        color: $white;
        padding: 5px 10px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        transition: border 0.25s;

        &:hover {
            border: 1px solid $white;
        }

        &-text {
            margin-left: 10px;
        }
    }

    &__list {
        margin-top: -1rem;
    }

    &__link {
        font-weight: 300 !important;
    }

    @include media-breakpoint-down(md) {
        #collapsibleNavbar {
            width: 100vw;
            position: absolute;
            background: black none repeat scroll 0% 0%;
            z-index: 100;
            right: 0px;
            transform: translate(100px);
            text-align: center;
        }

        .navigation__btn-text {
            display: none;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-bottom: 7px;
    }
}
