.footer {
    color: $white;
    background: $black;
    padding: 48px 0;

    &__logo {
        img {
            margin: 0 auto;
        }
    }

    .medias {
        display: flex;
        justify-content: center;
    }

    .social-media {
        padding: 10px;
    }
}
